.slideshow-container {
  width: 100%;
  height: 500px;
  position: relative;
  margin: 40px auto;
  overflow: hidden;
  background: #000;
}

.mySlides {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
}

.mySlides:first-child {
  display: block;
}

.slideshow-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text {
  color: #f2f2f2;
  font-size: 30px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
  z-index: 2;
  text-shadow: 0 2px 5px rgba(0,0,0,0.8);
}

.fade {
  animation-name: fade;
  animation-duration: 5s;
}

@keyframes fade {
  from { opacity: .4 }
  to { opacity: 1 }
}
