<style>

    .bg-dark{
    background-color: #2c2b2b;
    }

    .bg-light{
    background-color: #e6e3e2;
    }

    .mySlides {
    display: none;
    opacity: 1;
    position: relative;
    z-index: 1;
    height: 100%;
    }

    .slideshow-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    position: relative;
    z-index: 0
    }

    /* Slideshow container */
    .slideshow-container {
    width: 100%;
    height: 500px;
    position: relative;
    margin: 40px auto;
    overflow: hidden;
    background: #000;
    }

    /* Caption text */
    .text {
    color: #f2f2f2;
    font-size: 30px;
    padding: 8px 12px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    text-shadow: 0 2px 5px rgba(0,0,0,0.8);
    z-index: 2;
    /* background: rgba(0,0,0,0.4);  */
    }

    img{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0,0,0,0.7));
    }


    /* Fading animation */
    .fade {
    animation-name: fade;
    animation-duration: 5s;
    }

    @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
    }

    /* On smaller screens, decrease text size */
    @media only screen and (max-width: 300px) {
    .text {font-size: 11px}
    }

</style>