<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Bootstrap Import -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">

  <!-- CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

  <link rel="stylesheet" th:href="@{/css/login.css}">

  <title>AAP| Login</title>
</head>
<body class="bg-light">

  <!-- Carousel -->

  <div class="slideshow-container shadow-gradient">

    <div class="mySlides fade shadow-lg text-shadow">
      <img th:src="@{/images/8f585f8c-baaf-4c34-90a8-63aac7cc9d23.jfif}" style="width: 100%;">
      <div class="text ">Discover Conventions in your nearby area!</div>
    </div>

    <div class="mySlides fade">
      <img th:src="@{/images/ab5768ce-08fa-459f-b022-d8bcd1218f44.jfif}" style="width: 100%;">
      <div class="text">Share your experiences of your favourite convention!</div>
    </div>

    <div class="mySlides fade">
      <img th:src="@{/images/dc0c3951-6116-4a8d-9ec6-02b0206feef1.jfif}" style="width: 100%;">
      <div class="text ">Upload your booth and create your Artist Alley portfolio!</div>
    </div>

  </div>

  <!-- Login Div -->

  <div class="card mt-3 container-sm">

      <!-- Title -->
      <div class="card-text text-center display-6 mt-3 mb-4"> Login </div>

    <p th:if="${error}"
       th:text="${error}"
       class="text-danger text-center fw-semibold">
    </p>

      <!-- Login Manually -->
    <form th:action="@{/login}" method="post" th:object="${loginUser}">

        <div class="mb-3 input-group w-50 mx-auto">
          <!-- <span class="input-group-text"><i class="fa-solid fa-user" ></i></span> -->
          <input class="form-control"
                 type="text"
                 th:field="*{usernameOrEmail}"
                 placeholder="Username or Email"
                 required>
        </div>

        <div class="mb-3 input-group w-50 mx-auto">
          <!-- <span class="input-group-text"><i class="fa-solid fa-password"></i></span> -->
          <input class="form-control"
                 type="password"
                 th:field="*{password}"
                 placeholder="Password"
                 required>
        </div>

        <div class="text-center mb-3 ">
          <button type="submit" class="btn btn-dark">Log In</button>
        </div>

        <p class="text-center mt-4 fst-italic text-muted">Are you not memeber yet? Click to create your account!</p>

        <div class="text-center mb-3 ">
          <a th:href="@{/users/new}" class="btn btn-dark">Create Account</a>
        </div>


      </form>

  </div>


   <!-- FOOTER -->

  <footer class="container-fluid bg-dark mt-5">
    <div class="container-lg py-4">
      <div class="row">
        <div class="col-sm-12 text-center text-white">
          <p>Copyright &copy; Artist Alley Portal Team</p>
        </div>

        <div class="col-sm-12 text-white text-center">
          <p>All rights reserved. Please don't use this content without our concent!</p> <a href="">Contact Us</a>
        </div>

        <div class="col-sm-12 text-center text-white center">
          <a href=""><i class="bi bi-facebook text-white mx-1"></i></a>
          <a href=""><i class="bi bi-instagram text-white mx-1"></i></a>
        </div>

      </div>
    </div>
  </footer>

    <!-- JAVASCRIPT -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous">
    </script>

    <script>

      let slideIndex = 0;
      showSlides();



     function showSlides() {
        const slides = document.getElementsByClassName("mySlides");

        // Hide all slides
        for (let i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";
        }

        // Move to next slide
        slideIndex++;
        if (slideIndex > slides.length) {slideIndex = 1}

        // Show the current slide
        slides[slideIndex - 1].style.display = "block";

        // Change image every 5 seconds
        setTimeout(showSlides, 5000);
    }
    </script>
</body>
</html>