.bg-dark{
  background-color: #2c2b2b;
}

.bg-light{
  background-color: #e6e3e2;
}

.text-off-white{
  color: #e6e3e2;
}

.text-shadow {
  text-shadow: #000000 1px 0 10px;
}

.text-shadow-sm {
  text-shadow: 1px 1px 2px black;
}

.header{
  background: #1f1f1f;
  background-image: url(../img/Animaga26_003-scaled.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100%;
}

.header > div{
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0,0,0,0.7));
}

h4{
  text-decoration: underline;
}

.title-colour{
  color: #7d7676;
}

.forum-divs{
  border-radius: 1rem;

}

.a-links{
  text-decoration: none;
}

.display-flex{
  display: flex;
  justify-content: center;

}